.container {
  margin-bottom: 100px;
}

.main_title {
  margin-bottom: 100px;
  margin-top: 100px;
}

.filter_btns {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 50px;
}

.amount {
  color: #808080;
  margin-bottom: 30px;
}
