.logo_container {
  display: flex;
  gap: 15px;
  margin-right: 10%;
  align-items: center;
}

.logo {
  text-transform: uppercase;
  font-family: Raleway-Medium, sans-serif;
  font-size:16px;
  font-weight: 500;
}