.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 65px;
  font-family: Raleway-Medium, sans-serif;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 0.5s ease;
}

.transparent {
  color: #000000;
  border: 1px solid black;
}

.active {
  background-color: black;
  color: #FFFFFF;
  border: 1px solid black;
}
