.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
}

.phone_container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 5%;
  white-space:nowrap;
}

.phone {
  background-image: url("../../assets/images/phone.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 27px;
  height: 27px;
  transition: 0.5s ease;

  &:hover {
    background-image: url("../../assets/images/phone-hover.svg");
    background-color: #6E9C9F;
  }
}
