.container{
  margin-bottom: 130px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.offers_container {
  display: flex;
  gap: 25px;
  margin-bottom: 60px;
}

.btn_container {
  display: flex;
  justify-content: center;
}