.container{
  margin-bottom: 130px;
}

.title {
  text-align: center;
  margin-bottom: 40px;
}

.offers_container {
  display: flex;
  gap: 25px;
  margin-bottom: 60px;
}

.btn_container {
  display: flex;
  justify-content: center;
}

.open_btn {
  width: 240px;
  height: 65px;
  background-color: inherit;
  color: #6E9C9F;
  border: 1px solid #6E9C9F;
}