.team_container {
  margin-bottom: 130px;
}

.description {
  width: 255px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team_wrapper {
  display: flex;
  justify-content: space-between;
}

.team_title {
  margin-bottom: 90px;
}

.title {
  margin-bottom: 25px;
}

.text {
  display: flex;
  flex-direction: column;
  gap:25px;
}

.more {
  color: #6E9C9F;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-text-decoration-color: transparent;
  -moz-text-decoration-color: transparent;
  transition: 0.5s;
}

.more:hover {
  text-decoration-color: #6E9C9F;
  -webkit-text-decoration-color: #6E9C9F;
  -moz-text-decoration-color:  #6E9C9F;
}