.values_container {
  margin-bottom: 130px;
}

.title {
  margin-bottom: 92px;
}

.values {
  display: flex;
  justify-content: space-between;
}

.value {
  width: 305px;
}

.value_title {
  margin-bottom: 24px;
}

.image {
  margin-bottom: 37px;
}

.description {
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}