body {
    font-size: 15px;
    font-family: Raleway-Regular, sans-serif !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

h2 {
    font-family: Raleway, sans-serif;
    font-size: 55px;
    font-weight: 500;
    line-height: 61px;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-family: Raleway-Medium, sans-serif;
    font-size: 25px;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
}

h5 {
    font-family: Raleway-Medium,sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.02em;

}

p {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.site_container {
    max-width: 1100px;
    margin: auto;
}

.btn_blue {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    color: #FFFFFF;
    background-color: #6E9C9F;
}