body {
    font-size: 15px;
    font-family: Raleway-Regular, sans-serif !important;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

h3 {
    font-size: 40px;
    line-height: 44px;
}

h4 {
    font-size: 25px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.02em;
    text-align: left;
}

p {
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.site_container {
    max-width: 1100px;
    margin: auto;
}

.btn_blue {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background-color: #6E9C9F;
}