.footer {
    background: #F1EADC;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 45px;
}

.navigation_container{
    margin-top: 5px;
    margin-right: 10%;
}

.item_title {
    margin-bottom: 40px;
}

.contacts_container {
    margin-top: 5px;
}

.phone_container {
    margin-bottom: 10px;
    text-align: end;
}

.number {
    white-space:nowrap;
}

.mail {
    margin-bottom: 30px;
}

.socials_container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
}

.bottom {
    display: flex;
    justify-content: space-between;
    padding-bottom: 45px;
}

.copyrights{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.payment {
    margin-top: 10px;
}